<h2>Create New Landmark</h2>

<form action="/figures" method="POST"
    <h3>Name of Landmark: <input type="text" name="landmark[name]" id="landmark_name"></h3><br>
    <h3>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"> </h3><br>
    <input type="submit" value="Create New Landmark"> 
</form>



<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>











