<h1>Historical Figures</h1>

<% @figures.each do |figure| %>
    <a href="/figures/<%= figure.id %>"><%= figure.name %></a>,
    <%figure.titles.each do |title|%>
        <%=title.name%><br><br>
    <%end%><br>
<% end %>
<br><br>
<a class="button" href="figures/new">Create New Figure</a>
<a class="button" href="/landmarks">View Landmarks</a>
<a class="button" href="/">Home</a>